* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
  font-family: "Source Sans 3", sans-serif;
}
.homeContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.home {
  width: 100%;
}
.home-screen {
  background: url(./images/home-img.jpg);
  width: 100%;
  height: 410px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  margin-right: 0;
}
.home-screen h1 {
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 190px;
  color: #fff;
}
.home-screen h4 {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 20px;
  color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 410px;
  background-color: rgba(0, 0, 0, 0.3);
}
.shop-btn {
  display: inline-block;
  padding: 12px 14px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(51, 93, 218);
  cursor: pointer;
}
.shop-btn:hover {
  background-color: #7799d4;
}
.shop-btn a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.featured-prod {
  width: 100%;
  height: 450px;
  padding: 20px;
}
.header h1 {
  text-align: center;
  letter-spacing: 1px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}
.item-card {
  width: 200px;
  padding: 20px;
  height: 320px;
  border: 1px solid rgb(214, 210, 210);
  justify-content: space-around;
  transition: 0.2s ease;
}
.item-card:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 2px 3px 6px rgb(75, 70, 70);
}
.item-card img {
  width: 100%;
  height: 180px;
}
.item-card p {
  font-size: 17px;
  letter-spacing: 1px;
}
.summer-sales {
  background-image: url(./images/item7.jpg);
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 17px 20px;
  max-width: 94%;
  margin: 30px auto;
  border-radius: 10px;
}
.summer-sales h4 {
  text-align: center;
  font-size: 26px;
  letter-spacing: 1px;
}
.summer-sales p {
  text-align: center;
  font-size: 36px;
  letter-spacing: 1px;
}
.sales-btn {
  padding: 12px 14px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45%;
  margin-bottom: 12px;
  border: none;
  background-color: rgb(51, 93, 218);
}
.sales-btn:hover {
  background-color: #7799d4;
}
.sales-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.blog {
  width: 100%;
  height: 500px;
  padding: 17px 20px;
}
.header p {
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
}
.blog-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.blog-card {
  width: 300px;
  padding: 10px 12px;
  height: 200px;
  justify-content: space-around;
}
.blog-btn {
  padding: 12px 14px;
  border-radius: 5px;
  margin-bottom: 12px;
  border: none;
  color: #fff;
  background-color: rgb(51, 93, 218);
}
.newsletter {
  width: 100%;
  height: 110px;
  margin-top: 20px;
  padding: 17px 20px;
  background-color: rgb(233, 187, 170);
}
.newsletter-text h3 {
  font-size: 23px;
  letter-spacing: 1px;
}
.newsletter-text p {
  font-size: 17px;
  letter-spacing: 1px;
}
.newsletter-con {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.news-l-text {
  color: rgb(207, 62, 10);
  font-weight: bold;
}
.news-l-btn {
  padding: 9px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: rgb(51, 93, 218);
}
.news-l-btn:hover {
  background-color: #7799d4;
}

.news-l-btn:hover {
  background-color: #7799d4;
}
.newsletter-form {
  justify-content: space-around;
}
.signUp-email {
  width: 470px;
  padding: 7px 10px;
  margin-right: 6px;
}
.about-us {
  width: 100%;
  height: 700px;
}
.about-topscreen {
  width: 100%;
  height: 200px;
  background-image: url(./images/placeholder.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  padding-top: 53px;
}
.about-topscreen h1 {
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.about-topscreen p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}
.about-content {
  width: 100%;
  height: 500px;
  padding: 20px;
}
.about-content h1 {
  text-align: center;
  letter-spacing: 1px;
}
.about-card {
  display: flex;
  width: 100%;
  padding: 30px;
}
.about-card video {
  width: 500px;
  margin-right: 25px;
}
.about-card p {
  font-size: 20px;
  letter-spacing: 1px;
}
.blog-body {
  width: 100%;
  height: 100%;
}
.blog-topScreen {
  background: url(./images/blog-topscreen-img.jpg);
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  padding-top: 60px;
}
.overlay-b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
}
.blog-topScreen h1 {
  text-align: center;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  color: #fff;
}
.blog-topScreen p {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}
.blog-trendy-card {
  width: 100%;
  display: flex;
  padding: 40px;
}
.trends img {
  width: 350px;
  margin-left: 60px;
  margin-right: 170px;
}
.about-trends p {
  font-size: 20px;
  letter-spacing: 1px;
  padding-right: 70px;
}
.quick-ad {
  background-color: rgb(51, 93, 218);
  width: 610px;
  color: #fff;
  margin-top: 30px;
}
.quick-ad span {
  color: rgb(250, 84, 23);
}
.quick-ad marquee {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.blog {
  background-color: rgb(243, 238, 238);
}
.shop-topscreen {
  background: url(./images/shop-topscreen-img.jpg);
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  padding-top: 53px;
}
.shop-topscreen h1 {
  font-size: 34px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.shop-topscreen p {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
.shop-topscreen span {
  color: rgb(250, 84, 23);
}
.shop-body {
  width: 100%;
  display: flex;
}
.shop-content {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.shop-content-top {
  width: 100%;
  height: 80px;
  background-color: rgb(197, 191, 191);
  margin-bottom: 20px;
}
.search-input span {
  position: relative;
}
.search-input i {
  position: absolute;
  left: 810px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  top: 24px;
}
.search-prod {
  width: 30%;
  padding: 9px;
  padding-left: 25px;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  float: right;
}
.search-prod::placeholder {
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.filter-section {
  width: 20%;
  height: 350px;
  background-color: rgb(51, 93, 218);
  display: flex;
  flex-direction: column;
  padding: 9px 11px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.filter-header {
  font-size: 21px;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
}
.filter-section label {
  color: #fff;
}
.filter-btn {
  width: 100%;
  padding: 7px 9px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: #7799d4;
}
.filter-check {
  margin-bottom: 17px;
}
.log-sign-scrn {
  width: 100%;
  height: 600px;
  background-image: url(./images/sign-log-img.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 17px 20px;
}
.Login-signup {
  width: 320px;
  margin: auto;
  margin-top: 80px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 17px 20px;
  box-shadow: 0 0 13px #333;
}
.log-sign-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}
.sign-log-btn {
  width: 90%;
  height: 30px;
  padding-left: 0;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(250, 84, 23);
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 18px;
}
.sign-log-btn:hover {
  box-shadow: 2px 2px 6px #555;
  background-color: rgb(190, 110, 81);
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
}
.main input {
  width: 90%;
  height: 30px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 30px;
  border-radius: 6px;
  padding-left: 35px;
}
.main input::placeholder {
  padding-left: 26px;
}
.main input:hover {
  box-shadow: 2px 2px 6px #555;
  background-color: #ddd;
}
.main span {
  position: relative;
}
.main i {
  position: absolute;
  left: 15px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  top: 2px;
}
.propmt {
  font-size: 18px;
  margin-bottom: 14px;
  font-weight: bold;
}
.propmt span {
  font-weight: bold;
  color: rgb(250, 84, 23);
}
.log-sign-btn {
  width: 90%;
  height: 30px;
  padding-left: 0;
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 93, 218);
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 18px;
}
.log-sign-btn:hover {
  box-shadow: 2px 2px 6px #555;
  background-color: #7799d4;
  cursor: pointer;
}
.cart-wrapper {
  display: flex;
  padding: 15px 16px;
}
.cart-items {
  width: 80%;
  height: 100%;
  padding: 17px 20px;
  margin-top: 35px;
}
.cart-item {
  width: 100%;
  height: 105px;
  border: 1px solid rgb(214, 210, 210);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
}
.cart-item img {
  width: 80px;
}
.cart-item p {
  font-size: 20px;
}
.item-count {
  width: 50px;
  height: 29px;
}
.cart-item-quantity {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.cart-total {
  width: 20%;
  background-color: rgb(51, 93, 218);
  margin-top: 50px;
}
.item-total {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.checkout-btn {
  width: 120px;
  padding: 8px 10px;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 30px;

  border-radius: 5px;
  border: none;
}
.item {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 50px;
  justify-content: center;
}
.item-btn {
  width: 100%;
  border: none;
  padding: 6px;
  background-color: rgb(51, 93, 218);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
span {
  color: rgb(51, 93, 218);
}
@media (max-width: 768px) {
  .home-screen {
    height: 460px;
    text-align: center;
    margin-bottom: 70px;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    margin-left: 80px;
  }
  .summer-sales {
    margin-top: 300px;
  }
  .blog {
    height: 650px;
  }
  .header p {
    text-align: center;
    font-size: 13px;
  }
  .blog-card {
    width: 300px;
    padding: 7px 9px;
    height: 140px;
    justify-content: space-around;
  }

  .blog-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    row-gap: 215px;
    margin-left: 40px;
  }
  .blog-card {
    margin-top: 30px;
  }
  .newsletter {
    margin-top: 300px;
    height: 130px;
  }
  .newsletter-con {
    display: flex;
    flex-direction: column;
  }
  .about {
    height: 650px;
  }
  .aboutUs {
    width: 70%;
  }
  .aboutUs-header {
    font-size: 25px;
    margin-right: 170px;
  }
  .aboutUs-text {
    font-size: 17px;
    margin-right: 120px;
  }
  .shop-link-btn {
    padding: 8px;
  }
}
@media (max-width: 617px) {
  .items {
    margin-left: 180px;
    grid-template-columns: 1fr;
  }
  .summer-sales {
    margin-top: 960px;
    height: 230px;
  }
  .blog-card-container {
    margin-left: 180px;
    grid-template-columns: 1fr;
  }
  .newsletter {
    margin-top: 1060px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .items {
    margin-right: 200px;
  }
  .blog-card-container {
    margin-left: 80px;
  }
  .newsletter {
    height: 180px;
  }
  .signUp-email {
    width: 100%;
  }
  .news-l-btn {
    margin-top: 10px;
  }
}
@media (max-width: 365px) {
  .home-screen {
    height: 473px;
  }
  .home-screen h1 {
    font-size: 21px;
  }
  .home-screen h4 {
    font-size: 20px;
  }
  .items {
    margin-left: 150px;
  }
  .summer-sales p {
    font-size: 27px;
  }
  .sales-btn {
    margin-left: 95px;
  }
  .blog-card-container {
    margin-left: 35px;
  }
  .newsletter {
    height: 180px;
  }
  .newsletter-text h3 {
    font-size: 20px;
  }
  .newsletter-text p {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
